body {
  font-family: "Work Sans", sans-serif;
}
.card {
  cursor: pointer;
}
.card:hover {
  background-color: #f9f6e2;
}
#Purchase-button:disabled,
#promo-apply-button:disabled {
  background-color: #ffa4eb;
}
